@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:var(--secondary-color);
    font-family: 'Calibri (Body)';
    transition: background-color 0.10s ease;
}
:root{
    --study-color:linear-gradient(135deg,rgb(98, 161, 255), rgb(48, 65, 161));;
    --content-color:linear-gradient(133deg,rgb(114, 90, 219), rgb(28, 58, 228));
    --study-hover-color:linear-gradient(133deg,rgb(48, 65, 161), rgb(98, 161, 255),rgb(48, 65, 161)); --h1-color:black;
    --primary-color:rgb(252, 245, 245);
    --secondary-color: #dad8d8;
    --third-color:rgb(255, 255, 255);
    --study-color:linear-gradient(135deg,rgb(98, 161, 255), rgb(48, 65, 161));;
    --content-color:linear-gradient(133deg,rgb(114, 90, 219), rgb(28, 58, 228));
    --study-hover-color:linear-gradient(133deg,rgb(48, 65, 161), rgb(98, 161, 255),rgb(48, 65, 161));
    --font-color:rgb(0, 0, 0);
    --line-color:rgb(223, 223, 223);
    --result-color:rgb(255, 255, 255);
    --copied-color:rgb(176, 193, 230);
    --list-color:rgb(255, 252, 252);
    --check-color:rgb(201, 115, 3);
    --check-hover-color:rgb(163, 94, 3);
    --scroll-color:rgb(184, 184, 184);
    --scroll-hover-color:#868484;
    --scroll-border-color:black;
    --navfont-color:linear-gradient(135deg,rgb(0, 0, 0), rgb(82, 80, 80), rgb(20, 20, 20));
    --type-color:linear-gradient(175deg,rgb(245, 161, 52), rgb(219, 180, 136), rgb(234, 236, 103));
}
.dark-theme{
    --study-color: #3A3B3C;
    --content-color: #252525;
    --study-hover-color:linear-gradient(135deg,rgb(31, 30, 30), rgb(41, 41, 46), rgb(34, 33, 33));
    --h1-color:white;
    --primary-color:rgb(0, 0, 0);
    --secondary-color: #171718;;
    --third-color:rgb(0, 0, 0);
    --study-color:linear-gradient(135deg,rgb(51, 50, 50), rgb(117, 117, 121), rgb(68, 67, 67));
    --content-color:rgb(165, 159, 159);
    --study-hover-color:linear-gradient(133deg,rgb(34, 34, 36), rgb(43, 44, 44),rgb(41, 41, 46));
    --navfont-color:rgb(218, 18, 18);
    --line-color:rgb(255, 0, 0);
    --result-color:rgb(12, 10, 10);
    --copied-color:rgb(19, 18, 18);
    --list-color:rgb(36, 36, 36);
    --check-color:rgb(226, 3, 3);
    --check-hover-color:rgb(170, 4, 4);
    --scroll-color:red;
    --scroll-hover-color:#b30000;
    --scroll-border-color:rgb(255, 250, 250);
    --font-color:rgb(255, 255, 255);
    --type-color:linear-gradient(175deg,rgb(0, 153, 255), rgb(160, 203, 228), rgb(238, 83, 83));
}


nav{
    width: 100%;
    height: 70px;
    line-height: 75px;
    position: fixed;
    z-index: 999;
    background-color:var(--primary-color);      
    text-align-last: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.Pname .logo{
    width:7rem;
}

nav p{
    font-family:'Blackadder ITC';
    font-size: 45px;
    float: left;
    color:var(--font-color);    
    text-transform:capitalize;
    cursor: pointer;    
}

nav li{
    letter-spacing: 10%;
}
.Active{
    font-size:1rem;
    font-weight: bold;
    color:white;
    text-decoration: underline;
    background:var(--navfont-color);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.2rem;
}
.Activ{
    font-size:1rem;
    font-weight: bold;
    color:white;
    text-decoration: underline;
    background:var(--navfont-color);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.2rem;
    margin-left: -1rem;
}

.Act{
    font-size:1rem;
    font-weight: bold;
    color:var(--font-color);
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 18px;
    border-radius: 8px;
}


a{
    font-size:1rem;
    font-weight: bold;
    color: var(--font-color);
    position:relative;
    text-decoration: none;
}

.no:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
}

.no::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2rem;
    background-color: var(--font-color);   
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    overflow-x:none;
}
.feat{
    padding-left: 2rem;
    position:relative;
}

#dark{
    height: 30px;
    color: #000000;
    padding-right: 0.8rem;
    cursor: pointer;
}
.fea{
    font-size: xx-large;
}

.logout{
    padding-left: 5.5rem;
    display: inline-block;
    float: right;
}
.fe{
    height: 50vh;
    background:linear-gradient(180deg,rgb(44, 41, 241), rgb(44, 29, 250));
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 0.2rem;
    text-decoration: none;
    align-items: center;
    margin-left: 0.5rem;
}
.fo{
    border-left: 3px solid var(--line-color);
    display: inline-block;
    height: 10.5vh;
}
.logo{
    width: 7rem;
    height: 3.5rem;
    float: left;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.dff{
    display: inline-block;
    border-left: 3px solid var(--line-color);
    height: 7.5vh;
    margin-top: 1rem;
}
.content h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: normal;
    font-weight: 130;
    font-size: xx-large;
    color: var(--h1-color);
    margin-left: 2rem;
}
#text1{
    width: 25%;
    height: 50vh;
    margin-left: 2rem;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align-last: center;

}
#text2{
    width: 25%;
    height: 50vh;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align-last: center;
}
#check{
    background-color:var(--check-color);
    border-radius: 10px;
    border: none;
    color: var(--third-color);
    height: 6vh;
    text-align-last: center;
}
#check:hover{
    background-color: var(--check-hover-color);
    text-align-last: center;
}

.content button{
    color: #000000;
    background-color: #fd8535;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align-last: center;
}
.content button:hover{
    color: #000000;
    background-color: #3385bb;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}
.check{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align-last: center;
}
.content p{
    margin-left: 16rem;
    margin-top: 2rem;
    text-align-last: center;
}



.popup {
    width: 20%;
    height: 20vh;
    display: none;
    position: fixed;
    top: 30%;
    left: 42%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: background-color 0.3s ease;
    text-align-last: center;
}

.popup button{
    width: 30%;
    margin-top: 2rem;
}

.popup p{
    width: 100%;
    text-align-last: center;
}
#popupMessage{
    margin-left: -0rem;
    text-align: center;
    text-align-last: center;
}

.code-input {
    border: 2px solid #642800; /* Add your desired border color */
    padding: 10px;
    font-family: monospace; /* Use a monospace font for code */
    transition: background-color 0.3s ease;
}

/* Styles for the highlighted tags */
.code-input code {
    color: #e74c3c; /* Add your desired tag color */
    transition: background-color 0.3s ease;
}
.text{
    width: 70%;
    margin-right: 5rem;
}
.text button{
    background-color: #3498db;
    margin-left: 2rem;
    transition: background-color 0.3s ease;
}
#text1{
    width: 100%;
    resize: none;
}
#cc{
    background-color: #3498db;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-bottom: 0.1rem;
    transition: background-color 0.3s ease;
}

#cc:hover{
    background-color: #3385bb;
    transition: background-color 0.3s ease;
}

#text2{
    width: 100%;
    margin-left: 2rem;
    resize: none;
}

#copied-lines-list{
    width: 50%;
    height: 40vh;
    overflow-x: auto; 
}
#not-similar-lines-list{
    width: 50%;
    height: 40vh;
    overflow-x: auto; 
}
.line-numbers {
    float: left;
    margin-right: 10px;
    color: #888;
    transition: background-color 0.3s ease;
}

.cs{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

#copied-lines{
    margin-left: 2rem;
    margin-top: 2rem;
    color: var(--third-color);
    background-color: var(--copied-color);
    width: 75%;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    transition: background-color 0.3s ease;
}
#copied-lines-list{
    margin-left: 2rem;
    list-style: none;
    margin-top: 1rem;
    width: 92.5%;
    color: var(--font-color);
    background-color:var(--list-color);
    border-right: 3px solid rgb(19, 18, 18);
    border-left: 3px solid rgb(19, 18, 18);
    border-top: 3px solid rgb(19, 18, 18);
    border-bottom: 3px solid rgb(19, 18, 18);
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    transition: background-color 0.5s ease;
}
#not-similar-lines{
    margin-left: 2rem;
    margin-top: 2rem;
    color: var(--third-color);
    background-color: var(--copied-color);
    width: 75%;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    transition: background-color 0.3s ease;
}
#not-similar-lines-list{
    margin-left: 2rem;
    list-style: none;
    margin-top: 1rem;
    width: 92.5%;
    color: var(--font-color);
    background-color:var(--list-color);
    border-right: 3px solid rgb(19, 18, 18);
    border-left: 3px solid rgb(19, 18, 18);
    border-top: 3px solid rgb(19, 18, 18);
    border-bottom: 3px solid rgb(19, 18, 18);
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    transition: background-color 0.5s ease;
}
#result{
    color: var(--font-color);
    margin-left: 30rem;
    width: 25%;
    background-color: var(--result-color);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1.5rem 2rem 1.5rem 2rem;
    transition: background-color 0.3s ease;
}

h2{
    width: 100%;
    font-size: larger;
    border: 3px solid rgb(58, 55, 55);
    transition: background-color 0.3s ease;
    text-align-last: center;
}

.res{
    width: 100%;
    padding-bottom: 1rem;
}
.code-editor{
    min-height: 30vh;
    color: #ccc;
}
h3{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.editor-container {
    width: 45%;
    height: 400px;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    border: 3px solid var(--font-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    
}

#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    resize: none;
    border-radius: 0.3rem;
}
.editor-container1 {
    width: 45%;
    height: 400px;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    border: 3px solid var(--font-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    float: right;
    margin-right: 2rem;
}

#editor1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    resize: none;
    border-radius: 0.3rem;
}



/************ UPLOAD FORM OR FILES *************************/

.upload {
    text-align: center;
}

#filewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.showfilebox {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 5px;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.filetype {
    margin-left: 10px;
}

.logo {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 30px;
        height: 30px;
    }
    .menu {
        float: left;
        overflow: hidden;
    }

    .menu .menubtn {
        font-size: 16px;  
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .navbar a:hover, .menu:hover .menubtn {
        background-color: red;
    }

    .menu-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .menu-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .menu-content a:hover {
        background-color: #ddd;
    }

    .menu:hover .menu-content {
        display: block;
    }
    .menu i{
        display: block;
        position: fixed;
        color: var(--font-color);

    }
}

.menu i{
    color: var(--primary-color);
    position: fixed;

}

::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--scroll-border-color); 
    border-radius: 0.2rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-color); 
    border-radius: 0.2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover-color); 
  }



.dropdown {
    position: relative;
    display: inline-block;
    width: 70px;
    line-height: 3vh;
    margin-left: 2rem;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 5vh;
    padding-top: 1rem;
}

.dropdown-content a {
    text-decoration: dashed;
    display: block;
    color: #f1e9e9;
}

.dropdown-content a:hover {
    background-color: #e02020;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.drop{
    width:20vh;
    background-color: #060025;
    padding: 0.5rem;
    text-align: center;
}






/*---------------------Login page -----------------------*/
.study{
    background:var(--study-color);
    color: rgb(255, 255, 255);
    padding:  2rem 7rem 2rem 7rem;
    text-align: center;
    border-radius: 1rem;
    line-height: 20vh;
    font-size: large;
    box-shadow: 1px 5px 7px 1px rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}
.studys{
    background:var(--study-color);
    color: rgb(255, 255, 255);
    padding:  2rem 6.7rem 2rem 6.7rem;
    text-align: center;
    border-radius: 1rem;
    line-height: 20vh;
    font-size: large;
    box-shadow: 1px 5px 7px 1px rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}
.study:hover{
    background:var(--study-hover-color);
    transition: background-color 0.3s ease;
}
.studys:hover{
    background:var(--study-hover-color);
    transition: background-color 0.3s ease;
}
.cont{
    width: 70%;
    background:var(--content-color);
    border-radius: 2rem;
    height: 65vh;
    box-shadow: 1px 5px 7px 1px rgb(0, 0, 0);
    margin-top: 5rem;
    margin-left: 13.5rem;
    transition: background-color 0.3s ease;
    text-align-last: center;
}

.lga{
    width: 100%;
    border-left: 2rem;
}
.main{
    width: 43%;
    height: 65vh;
    padding-left: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    box-shadow: 1px 5px 7px 1px rgb(0, 0, 0);
}

.im{
    padding-right: 9%;
}
.img{
    width: 40%;
    height: 50vh;
    float: right;
    padding: 2% 2% 2% 2%;
    padding-top: 3rem;
}
.logo{
    width: 3rem;
    height: 3rem;
    float: left;
    padding-left: 2rem;
    padding-top: 0.5rem;
}
.li{
    list-style: none;
}
.img{
    animation: float 3s infinite;
}
/*---------------------Login page -----------------------*/
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
/* ... (previous CSS code) */



.dropdown {
    position: relative;
    display: inline-block;
    width: 70px;
    line-height: 3vh;
    margin-left: 2rem;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 5vh;
    padding-top: 1rem;
}

.dropdown-content a {
    text-decoration: dashed;
    display: block;
    color: #f1e9e9;
}

.dropdown-content a:hover {
    background-color: #e02020;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.drop{
    width:20vh;
    background-color: #060025;
    padding: 0.5rem;
    text-align: center;
}

.type{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    background:var(--study-color);
    width: 20%;
    text-align-last: center;
    height: 10vh;
    padding-top: 2rem;
    border-radius: 0.5rem;
}
.ty{
    padding-left: 1rem;
    color:var(--h1-color);
    font-family: "Segoe UI";
    font-size:1.2rem;
}

.Acc{
    font-family: "Segoe UI";
    font-size:1.2rem;
    font-weight:bold;
    color:black;
    text-decoration:underline;
    background:var(--type-color);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
    }

            /* footer */
    
      
            .container{
                max-width: 2170px;
                margin:auto;
                margin-left: 8rem;
            }
            .row{
                display: flex;
                flex-wrap: wrap;
            }
            ul{
                list-style: none;
            }
            .footer{
                background-color:var(--secondary-color);
                padding: 70px 0;
                box-shadow: 0 0 10px var(--font-color);
                margin-top: 4.5rem;
            }
            .footer-col{
               width: 20%;
               padding: 0 15px;
            }
            .footer-col h4{
                font-size: 18px;
                color: #ffffff;
                text-transform: capitalize;
                margin-bottom: 35px;
                font-weight: bold;
                position: relative;
            }
          
            .footer-col ul li:not(:last-child){
                margin-bottom: 10px;
            }
            .footer-col ul li a{
                font-size: 16px;
                text-transform: capitalize;
                color: #ffffff;
                text-decoration: none;
                font-weight: 900;
                color: var(--font-color);
                display: block;
                transition: all 0.3s ease;
            }
            .footer-col ul li a:hover{
                color: var(--font-color);
                padding-left: 8px;
            }
          
            .footer-col .social-links a:hover{
              background: none;
          }
          
            .footer{
              font-family: 'Mulish', sans-serif;
              text-align-last: center;
              font-weight: bold;
              font-style:normal;
              font-size: 1.5em;
              padding-right: 2rem;
            }
          
          
          .fab {
              padding: 15px;
              font-size: 20px;
              width: 50px;
              text-decoration: none;
              padding-right: 3rem;
            }
          
            .About{
              background: rgb(0, 0, 0);
              border-radius: 7px;
              padding: 6px 3px;
              font-size: 1em;
              align-items: center;
          }
          .footer-col a{
            padding: 5px 0px 5px 0px;
          }
          .footer-col a:hover{
            background-color: var(--list-color);
            border-radius: 7px;
          }
    
          .social-links img{
            width: 15%; 
          }
          .face{
            margin-right: 2rem;
          }
          .insta{
            margin-left: 2rem;
          }
    
    
            /*responsive*/
            @media(max-width: 767px){
              .footer-col{
                width: 50%;
                margin-bottom: 30px;
            }
            }
            @media(max-width: 574px){
              .footer-col{
                width: 100%;
            }
            }
           
    /**************** slide show ************************/

    /* Slide section */
.slides-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.slider{
  width: 1134px;
  height: 600px;
  border-radius: 4px;
  overflow:hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  
}

.slides input{
  display: none;
}



.slide img{
    width: 100%;
    height: 500px;
}

.slide {
    width: 20%;
    transition: 5   s;
    position: relative;
}

.text {
    font-size: larger;
    position: absolute;
    top: 27%;
    margin-left: 10rem;
    width: 20%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 20px 20px 20px;
    opacity: 1; /* Set the opacity to 1 by default */
    transition: opacity 1s;
    border-radius: 0.2rem;
    text-align: center;
}
.text:hover {
    font-size: x-large;
    position: absolute;
    top: 28%;
    margin-left: 12rem;
    width: 25%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 20px 20px 20px;
    opacity: 1; /* Set the opacity to 1 by default */
    transition: opacity 1s;
    border-radius: 0.2rem;
    text-align: center;
}
.first {
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.second {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.third {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@keyframes slide {
    0%{
        margin-left: 0;
    }
    16%{
        margin-left: 0;
    }
    32%{
        margin-left: -20%;
    }
    48%{
        margin-left: -20%;
    }
    64%{
        margin-left: -40%;
    }
    80%{
        margin-left: -40%;
    }
    100%{
        margin-left: 0;
    }
}
/* Slide section */


