@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    font-family: 'poppins';
}


body {
    background-image: url("https://img.freepik.com/premium-photo/computer-with-glasses-3d-programming-code_124008-52.jpg");
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: 100%; /* Adjust the background size */
}



.loli img{
    width: 7rem;
}

        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 5rem;
            min-height: 90vh;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .box1{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90vh;
            padding-top: 3rem;
            padding-bottom: 1rem;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        
        .man {
            position: absolute;
            left: -8.5rem;
            top: 14rem;
            animation: slideFromLefts 2.8s forwards; 
        }

        .man1 {
            position: absolute;
            right: -27.5rem;
            top: 14rem;
            animation: slideFromRights 2.8s forwards; 
        }

    
@keyframes slideFromLefts {
    from { 
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideFromRights {
    from { 
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}


.fade-out {
    animation: fadeOut 1s forwards; 
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

        .man img{
            width: 30%;
        }

        .man1 img{
            width: 30%;
        }

        .main {
            width: max-content;
            height: max-content;
            padding: 30px;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 10px 0px #ff0000; /* Initial color */
            animation: borderTransition 3s infinite alternate, slideFromLeft 3s forwards; /* Border transition and slide animation */
        }
        
        @keyframes borderTransition {
            0% { box-shadow: 0px 0px 10px 0px #ff0000; }
            25% { box-shadow: 0px 0px 10px 0px #cc00ff; }
            50% { box-shadow: 0px 0px 10px 0px #0099ff; }
            75% { box-shadow: 0px 0px 10px 0px #5900ff; }
            100% { box-shadow: 0px 0px 10px 0px #0000ff; }
        }
        
        @keyframes slideFromLeft {
            from { transform: translateX(-100%); }
            to { transform: translateX(0); }
        }
        
        

         
        .main1 {
            width: max-content;
            height: max-content;
            padding: 30px;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 10px 0px #ff0000; /* Initial color */
            animation: borderTransition 3s infinite alternate, slideFromRight 3s forwards; /* Border transition and slide animation */
        }
        
        @keyframes borderTransition {
            0% { box-shadow: 0px 0px 10px 0px #ff0000; }
            25% { box-shadow: 0px 0px 10px 0px #cc00ff; }
            50% { box-shadow: 0px 0px 10px 0px #0099ff; }
            75% { box-shadow: 0px 0px 10px 0px #5900ff; }
            100% { box-shadow: 0px 0px 10px 0px #0000ff; }
        }
        
        @keyframes slideFromRight {
            from { transform: translateX(100%); }
            to { transform: translateX(0); }
        }
        
        /*.tec{
            width: 70%;
            background-color:rgba(255, 255, 255, 0);;
            float: right;
            height: 70vh;
            border-radius: 0rem 6rem 0rem 6rem;
            box-shadow: 1px 5px 30px 1px rgb(0, 0, 0);
        }*/

        .tech{
            width: 70%;
            background-color:rgb(110, 129, 235);
            float: right;
            height: 75vh;
            border-radius: 5% 5% 5% 5%;
            box-shadow: 1px 5px 30px 1px rgb(0, 0, 0);
        }
        .logo{
            width: 3rem;
            height: 3rem;
            float: left;
            padding-top: 1rem;
        }
        .msg{
            width: 65%;
            float: right;
            text-align: center;
            padding-top: 2rem;
            font-size: large;
            font-family: Algerian;
        }
        .msg1{
            width: 60%;
            float: right;
            text-align: center;
            padding-top: 2rem;
            font-size: large;
            font-family: Algerian;
        }
   .se{
    float: right;
   }

        span{
            color: #ffffff;
            font-size: small;
            display: flex;
            padding-top: 8%;
            justify-content: center;
            text-align-last: center;
            padding-left: 40px;
        }
 
        header{
            color: #ffffff;
            font-size: 30px;
            display: flex;
            padding-bottom: 2rem;
            justify-content: center;
            padding-bottom: 8%;
            padding-left: 40px;
        }
        
        .input-field .input{
            height: 30px;
            width: 85%;
            border: none;
            font-size:  15px;
            padding: 0 0 1px 45px;    
            font-weight:600;
            background-color: rgb(255, 255, 255);
            border-radius: 0.3rem;
            border: 1px solid black;
        }
        .input-field{
            width: 80%;
            padding-left: 1rem;
        }
        .input-field1 .input{
            height: 30px;
            width: 50%;
            border: none;
            font-size:  15px;
            padding: 0 0 1px 45px;    
            font-weight:600;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
        }
        .input-field1{
            width: 50%;
            padding-left: 1rem;
        }
        .input-field2 .input{
            height: 30px;
            width: 80%;
            border: none;
            font-size:  15px;
            padding: 0 0 1px 45px;    
            font-weight:600;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
        }
        .input-field2{
            width: 80%;
            padding-left: 1rem;
        }
        i{
            position: relative;
            top: -25px;
            left: 17px;
            color: #000000;
        }
        ::-webkit-input-placeholder{
            color: #00000086;
        }
        .stusubmit{
            border: none;
            border-radius: 0.3rem;
            font-size: 20px;
            height: 35px;
            outline: none;
            width: 90%;
            color: rgb(0, 0, 0);
            background:  #53fd6a;
            cursor: pointer;
            transition: .3s ;
            font-weight: 900;
            box-shadow: 1px 2px 0px 0px rgb(0, 0, 0);
        }
        
        .stusubmit:hover{
            box-shadow: 1px 5px 7px 1px rgb(0, 0, 0);
            background-color: #39974d;
        }
        
        .next{
            text-align-last: center;
            padding-top: 2rem;
        }
        .two-col{
            width: 85%;
            display: flex;
            justify-content: space-between;
            color: #000000;
            font-size:small;
            padding-left: 4.5%;
        }
        .one{
            display: flex;
            color: white;
        }

        label a{
            text-decoration: none;
            color: #fcfcfc;
        }
        .next a{
            height: 45px;
            width: 87%;
            border: none;
            border-radius: 30px;
            color: #000000;
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            background:linear-gradient(135deg, rgba(255, 0, 0, 0.336), rgba(0, 0, 255, 0.336));
            outline: none;
        } 
        .student{
            padding-top: 10%;
            width: 100%;
            justify-content: center;
            text-align-last: center;
        }
        .stureg{
            border-radius: 0.3rem;
            color: #fffcfc;
            font-size: large;
            padding-bottom: 1rem;
            background-color: hsl(241, 93%, 56%);
            padding: 10px;
        }
        
        .img{
            width: 25%;
            height:35vh;
            float: right;
            padding-top: 10rem;
            padding-right: 14%;
            
        }
        .im1{
            width: 25%;
            height:40vh;
            float: right;
            padding-top: 8rem;
            padding-right: 22%;
        }
        .im{
            width: 25%;
            height:35vh;
            float: right;
            padding-top: 6rem;
            padding-right: 22%;
        }
        
        .top{
            float: left;
            width: 15rem;
            font-weight:bolder;
            padding-left: 1rem;
            animation: slideFromLeft 3s forwards;   
        }
        @keyframes slideFromLeft {
            from { transform: translateX(-100%); opacity: 0; }
            to { transform: translateX(0); opacity: 1; }
        }

        .top1{
            float: left;
            width: 15rem;
            font-weight:bolder;
            padding-left: 1rem;
            animation: slideFromRight 3s forwards;   
        }
        @keyframes slideFromRight {
            from { transform: translateX(100%); opacity: 0; }
            to { transform: translateX(0); opacity: 1; }
        }

        .ss{
            padding-left: 5rem;
        }
        .stu{
            text-align: center;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
        .mob{
            display: none;
        }
        .register{
            justify-content: center;            
            width: 100%;
        }
        .p{
            padding-left: 25%;
            padding-top: 13%;
            color: #ffffff;
        }
        .register1{
            text-align: center;
            width: 80%;
        }
        .p1{
            padding-left: 20%;
            padding-top: 10%;
        }
        .stu1{
            padding-left: 15%;
            padding-top: 3%;
        }
        .student1{
            padding-top: 8%;
            width: 70%;
            padding-left: 30%;
            justify-content: center;
        }
        .stureg1{
            border-radius: 2rem;
            color: #000000;
            font-size: large;
            
        }

        .im{
            animation: float 3s infinite;
        }
        .img{
            animation: float 3s infinite;
        }
        .im1{
            animation: float 3s infinite;
        }

       .popup {
    background-color: #ffffff79;
    width: 80%;
    margin-left: 1.3rem;
    text-align: center;
    margin-top: -1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    font-size: small;
    z-index: 999; /* Adjust the value as needed to ensure it's above other elements */
}

        @keyframes float {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
  
        /******************************** MOBILE ********************************************************/
  
    /* Mobile Styles */
@media screen and (max-width: 400px) {
    .body{
        min-height: 3vh;
    }

    .loli img{
        width: 5rem;
        height: 2rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }
.tec .im{
    display: none;
}
.tec .msg{
    display: none;
}
.tec{
    background: none;
    border: none;
    box-shadow: none;
}
.box{
    width: 80%;
    min-height: 100vh;
}
.main{
    margin-top: -3rem;
    width: 70vw;
    height: 50vh;
    background-color: rgba(32, 68, 131, 0.822);
}
.top span{
    padding-top:  1rem;
    padding-left: 3rem;
}
.top header{
    padding-left: 5rem;
}
.stusubmit{
    width: 105%;
    padding-left: 0;
    height: 4.5vh;
    box-shadow: none;
}
.student{
    padding-left: 1rem;
    border: none;
    box-shadow: none;
}

.two-col{
    width: 85%;
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size:small;
    padding-left: 4.5%;
    margin-bottom: -1rem;
}

}

