@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    font-family: 'poppins';
}

body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3Vn2w2-RF61NYQb--tJGoOB0E6ioGTeG2Hw&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}


        .box{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90vh;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        .box1{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 90vh;
            padding-top: 3rem;
            padding-bottom: 1rem;
        }
        .main{
            background-color: rgb(88, 110, 233);
            width: 35%;
            height: 70vh;
            border-radius: 5% 5% 5% 5%;
            box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
        }
        .main1{
            background-color:rgb(88, 110, 233);
            width: 35%;
            height: 80vh;
            border-radius: 5% 5% 5% 5%;
            box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
        }
        .tec{
            width: 70%;
            background-color:rgb(110, 129, 235);
            float: right;
            height: 70vh;
            border-radius: 5% 5% 5% 5%;
            box-shadow: 1px 5px 30px 1px rgb(0, 0, 0);
       

        }
        .tech{
            width: 70%;
            background-color:rgb(110, 129, 235);
            float: right;
            height: 80vh;
            border-radius: 5% 5% 5% 5%;
            box-shadow: 1px 5px 30px 1px rgb(0, 0, 0);
        }
        .logo{
            width: 3rem;
            height: 3rem;
            float: left;
            padding-top: 1rem;
        }
        .msg{
            width: 65%;
            float: right;
            text-align: center;
            padding-top: 2rem;
            font-size: large;
            font-family: Algerian;
        }
        .msg1{
            width: 60%;
            float: right;
            text-align: center;
            padding-top: 2rem;
            font-size: large;
            font-family: Algerian;
        }
   .se{
    float: right;
   }

        span{
            color: #000000;
            font-size: small;
            display: flex;
            padding-top: 25%;
            padding-left: 28%;
        }
 
        header{
            color: #000000;
            font-size: 30px;
            display: flex;
            padding-left: 38%;
            padding-bottom: 2rem;
        }
        
        .input-field .input{
            height: 30px;
            width: 85%;
            border: none;
            font-size:  15px;
            padding: 0 0 1px 45px;    
            font-weight:600;
            background-color: rgb(255, 255, 255);
            border-radius: 0.3rem;
        }
        .input-field{
            width: 80%;
            padding-left: 1rem;
        }
        .input-field1 .input{
            height: 30px;
            width: 50%;
            border: none;
            font-size:  15px;
            padding: 0 0 1px 45px;    
            font-weight:600;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
        }
        .input-field1{
            width: 50%;
            padding-left: 1rem;
        }
        .input-field2 .input{
            height: 30px;
            width: 80%;
            border: none;
            font-size:  15px;
            padding: 0 0 1px 45px;    
            font-weight:600;
            background-color: rgb(255, 255, 255);
            border-radius: 10px;
        }
        .input-field2{
            width: 80%;
            padding-left: 1rem;
        }
        i{
            position: relative;
            top: -25px;
            left: 17px;
            color: #000000;
        }
        ::-webkit-input-placeholder{
            color: #00000086;
        }
        .stusubmit{
            border: none;
            border-radius: 0.3rem;
            font-size: 20px;
            height: 35px;
            outline: none;
            width: 45%;
            color: rgb(0, 0, 0);
            background:  #53fd6a;
            cursor: pointer;
            transition: .3s ;
            font-weight: 900;
            box-shadow: 1px 2px 0px 0px rgb(0, 0, 0);
        }
        
        .stusubmit:hover{
            box-shadow: 1px 5px 7px 1px rgb(0, 0, 0);
            background-color: #39974d;
        }
        
        .next{
            text-align-last: center;
            padding-top: 2rem;
        }
        .two-col{
            width: 85%;
            display: flex;
            justify-content: space-between;
            color: #000000;
            font-size:small;
            padding-left: 4.5%;
        }
        .one{
            display: flex;
        }
        label a{
            text-decoration: none;
            color: #000000;
        }
        .next a{
            height: 45px;
            width: 87%;
            border: none;
            border-radius: 30px;
            color: #000000;
            font-size: 15px;
            padding: 10px 30px 10px 30px;
            background:linear-gradient(135deg, rgba(255, 0, 0, 0.336), rgba(0, 0, 255, 0.336));
            outline: none;
        } 
        .student{
            padding-top: 10%;
            width: 83%;
            padding-left: 32%;
            justify-content: center;
        }
        .stureg{
            border-radius: 0.3rem;
            color: #000000;
            font-size: large;
        }
        
        .img{
            width: 25%;
            height:35vh;
            float: right;
            padding-top: 10rem;
            padding-right: 14%;
            
        }
        .im1{
            width: 25%;
            height:40vh;
            float: right;
            padding-top: 8rem;
            padding-right: 22%;
        }
        .im{
            width: 25%;
            height:35vh;
            float: right;
            padding-top: 6rem;
            padding-right: 22%;
        }
        
        .top{
            float: left;
            width: 15rem;
            font-weight:bolder;
            padding-left: 1rem;
        }
        .top1{
            float: left;
            width: 15rem;
            font-weight:bolder;
            padding-left: 4rem;
        }
        .ss{
            padding-left: 5rem;
        }
        .stu{
            padding-left: 20%;
            padding-top: 3%;
        }
        .mob{
            display: none;
        }
        .register{
            text-align: center;
            width: 80%;
        }
        .p{
            padding-left: 25%;
            padding-top: 13%;
        }
        .register1{
            text-align: center;
            width: 80%;
        }
        .p1{
            padding-left: 20%;
            padding-top: 10%;
        }
        .stu1{
            padding-left: 15%;
            padding-top: 3%;
        }
        .student1{
            padding-top: 8%;
            width: 70%;
            padding-left: 30%;
            justify-content: center;
        }
        .stureg1{
            border-radius: 2rem;
            color: #000000;
            font-size: large;
            
        }

        .im{
            animation: float 3s infinite;
        }
        .img{
            animation: float 3s infinite;
        }
        .im1{
            animation: float 3s infinite;
        }

        @keyframes float {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
  
        /******************************** MOBILE ********************************************************/
@media only screen and (max-width: 600px) {
  
    .main {
        width: 90%; 
        height: 68vh;
        padding: 2rem 1rem; 
        box-shadow: 1px 5px 30px 1px rgb(0, 0, 0);
    }

    .box{
        min-height: 75vh;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .tec{
        width: 84%;
        background-color: rgb(255, 255, 255);
        float: right;
        box-shadow: none;
}
    .main1 {
        width: 90%;
        height: 73vh;
        padding: 2rem 1rem; 
        box-shadow: 1px 5px 30px 1px rgb(0, 0, 0);
    }
    .tech{
        width: 84%;
        background-color: rgb(222, 223, 235);
        float: right;
        box-shadow: none;
    }
    .top {
        padding: 10px; 
        padding-left: 2.5rem;
    }
    .top1{
        padding: 10px; 
        padding-left: 2.5rem;
    }
    span{
        color: #000000;
        font-size: small;
        padding-left: 20%;
    }
    header{
        color: #000000;
        font-size: 30px;
        display: flex;
        padding-left: 30%;
        padding-bottom: 10%;
    }
    .input-field {
        width: 85%;
    }

    .stusubmit {
        width: 50%; 
        box-shadow: 2px 3px 0px 0px rgb(0, 0, 0);
    }

    .two-col{
        width: 95%;
        display: flex;
        justify-content: space-between;
        color: #000000;
        font-size:small;
        padding-left: 2%;
    }
    .one{
        display: flex;
    }

    .mob {
        display: block; 
        text-align: center; 
    }

    .mob .mo {
        width: 30%;
    }

    .stu {
        padding-top: 1rem; 
    }

    .p {
        padding-left: 1rem; 
    }

    .im {
        display: none; 
    }

    .img {
        display: none; 
    }

    .register{
        width: 100%;
        justify-content: center;
    }
    .stureg{
        padding-right: 3rem;
    }
    .msg{
        display: none;
    }
    .lolo{
        height: 5rem;
        background-color: #53fd6a;
    }
    .logo{
        background-color: #39974d;
    }
}