@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Ubuntu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Mulish:wght@200&family=Nunito:wght@200&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:var(--secondary-color);
    height: 100vh;
    font-family: 'Calibri (Body)';
}
:root{
    --h1-color:black;
    --primary-color:rgb(252, 245, 245);
    --secondary-color: #dad8d8;
    --third-color:rgb(0, 0, 0);
    --study-color:linear-gradient(135deg,rgb(98, 161, 255), rgb(48, 65, 161));;
    --content-color:linear-gradient(133deg,rgb(114, 90, 219), rgb(28, 58, 228));
    --study-hover-color:linear-gradient(133deg,rgb(48, 65, 161), rgb(98, 161, 255),rgb(48, 65, 161));
    --shadow-color:rgb(0, 0, 0);
    --line-color:rgb(0, 0, 0);
    --result-color:rgb(255, 255, 255);
    --copied-color:rgb(176, 193, 230);
    --list-color:rgb(255, 252, 252);
    --check-color:rgb(201, 115, 3);
    --check-hover-color:rgb(163, 94, 3);
    --scroll-color:rgb(184, 184, 184);
    --scroll-hover-color:#868484;
    --navfont-color:linear-gradient(135deg,rgb(0, 0, 0), rgb(82, 80, 80), rgb(20, 20, 20));
    --scroll-border-color:black;
    --type-color:linear-gradient(175deg,rgb(245, 161, 52), rgb(219, 180, 136), rgb(234, 236, 103));
    --about-color:linear-gradient(135deg,rgb(0, 0, 0), rgb(82, 80, 80), rgb(20, 20, 20));
    --file-color:linear-gradient(133deg,rgb(114, 90, 219), rgb(28, 58, 228));
    --file-back-color:white;
}
.dark-theme{
    --h1-color:white;
    --primary-color:rgb(0, 0, 0);
    --secondary-color: #171718;;
    --third-color:rgb(255, 255, 255);
    --study-color:linear-gradient(135deg,rgb(51, 50, 50), rgb(117, 117, 121), rgb(68, 67, 67));
    --content-color:rgb(165, 159, 159);
    --study-hover-color:linear-gradient(133deg,rgb(22, 31, 59), rgb(30, 37, 48),rgb(10, 14, 37));
    --navfont-color:rgb(218, 18, 18);
    --line-color:rgb(255, 0, 0);
    --result-color:rgb(12, 10, 10);
    --copied-color:rgb(19, 18, 18);
    --list-color:rgb(36, 36, 36);
    --check-color:rgb(226, 3, 3);
    --check-hover-color:rgb(170, 4, 4);
    --scroll-color:red;
    --scroll-hover-color:#b30000;
    --scroll-border-color:rgb(255, 250, 250);
    --type-color:linear-gradient(175deg,rgb(0, 153, 255), rgb(160, 203, 228), rgb(238, 83, 83));
    --about-color:rgb(179, 7, 7);
    --file-color:linear-gradient(133deg,rgb(27, 35, 56), rgb(42, 52, 66),rgb(34, 41, 80));
    --file-back-color:rgb(128, 124, 124);
}
nav{
    width: 100%;
    height: 70px;
    line-height: 75px;
    position: fixed;
    z-index: 999;
    background-color:var(--primary-color);      
    text-align-last: center;
    transition: background-color 0.3s ease;
}

.menu{
    width: 100%;
    padding-left: -10rem;
}
nav p{
    font-family:'Blackadder ITC';
    font-size: 45px;
    float: left;
    color:var(--third-color);    
    text-transform:capitalize;
    cursor: pointer;    
}

nav li{
    letter-spacing: 10%;
}
.Active{
    font-size:1rem;
    font-weight: bold;
    color:white;
    text-decoration: underline;
    background:var(--navfont-color);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
}
.Activ{
    font-size:1rem;
    font-weight: bold;
    color:white;
    text-decoration: underline;
    background:var(--navfont-color);
    transition: background-color 0.3s ease; 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.2rem;
    margin-left: -1rem;
}

.Act{
    font-size:1rem;
    font-weight: bold;
    color:var(--third-color);
    text-decoration: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 18px;
    border-radius: 8px;
}


a{
    font-size:1rem;
    font-weight: bold;
    color: var(--third-color);
    position:relative;
    text-decoration: none;
}

.no:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
}

.no::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2rem;
    background:var(--third-color);   
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    overflow-x:none;
}

.noo:hover::before {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
}

.noo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2rem;
    background:white;   
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
    overflow-x:none;
}


.feat{
    padding-left: 2rem;
    position:relative;
}

#dark{
    height: 30px;
    color: #000000;
    padding-right: 0.8rem;
    cursor: pointer;
}
.fea{
    border-right: 3px solid var(--line-color);  
    transition: background-color 0.3s ease; 
    font-size: xx-large;
}

.logout{
    display: inline-block;
    padding-right: 0.5rem;
    float: right;
}

.logout a{
        font-size:1rem;
        font-weight: bold;
        color:white;
        position:relative;
        text-decoration: none;
}

.fe{
    height: 50vh;
    background:rgb(243, 25, 25);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 0.2rem;
    text-decoration: none;
    align-items: center;
    margin-left: 0.5rem;
    color: #ccc ;
}

.fo{
    border-left: 3px solid var(--line-color);
    transition: background-color 0.3s ease;
    display: inline-block;
    height: 10.5vh;
}
.logo{
    width: 3rem;
    height: 3rem;
    float: left;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
.dff{
    display: inline-block;
    border-left: 3px solid var(--line-color);
    transition: background-color 0.3s ease;
    height: 7.5vh;
    margin-top: 1rem;
}
.content h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: normal;
    font-weight: 130;
    font-size: xx-large;
    color: var(--h1-color);
    transition: background-color 0.3s ease;
    margin-left: 2rem;
}
#text1{
    width: 25%;
    height: 50vh;
    margin-left: 2rem;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align-last: center;

}
#text2{
    width: 25%;
    height: 50vh;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align-last: center;
}
#check{
    background-color:var(--check-color);
    transition: background-color 0.3s ease;
    border-radius: 10px;
    border: none;
    color: var(--third-color);
    height: 6vh;
    text-align-last: center;
}
#check:hover{
    background-color: var(--check-hover-color);
    transition: background-color 0.3s ease;
    text-align-last: center;
}

.content button{
    color: #000000;
    background-color: #fd8535;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align-last: center;
}
.content button:hover{
    color: #000000;
    background-color: #3385bb;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}
.check{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align-last: center;
}
.content p{
    margin-left: 16rem;
    margin-top: 2rem;
    text-align-last: center;
}



.popup {
    width: 20%;
    height: 20vh;
    display: none;
    position: fixed;
    top: 30%;
    left: 42%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    transition: background-color 0.3s ease;
    text-align-last: center;
}

.popup button{
    width: 30%;
    margin-top: 2rem;
}

.popup p{
    width: 100%;
    text-align-last: center;
}
#popupMessage{
    margin-left: -0rem;
    text-align: center;
    text-align-last: center;
}

.code-input {
    border: 2px solid #642800; /* Add your desired border color */
    padding: 10px;
    font-family: monospace; /* Use a monospace font for code */
    transition: background-color 0.3s ease;
}

/* Styles for the highlighted tags */
.code-input code {
    color: #e74c3c; /* Add your desired tag color */
    transition: background-color 0.3s ease;
}
.text{
    width: 70%;
    margin-right: 5rem;
}
.text button{
    background-color: #3498db;
    margin-left: 2rem;
    transition: background-color 0.3s ease;
}
#text1{
    width: 100%;
    resize: none;
}
#cc{
    background-color: #3498db;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    margin-bottom: 0.1rem;
    transition: background-color 0.3s ease;
}

#cc:hover{
    background-color: #3385bb;
    transition: background-color 0.3s ease;
}

#text2{
    width: 100%;
    margin-left: 2rem;
    resize: none;
}

#copied-lines-list{
    width: 50%;
    height: 40vh;
    overflow-x: auto; 
}
#not-similar-lines-list{
    width: 50%;
    height: 40vh;
    overflow-x: auto; 
}
.line-numbers {
    float: left;
    margin-right: 10px;
    color: #888;
    transition: background-color 0.3s ease;
}

.cs{
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

#copied-lines{
    margin-left: 2rem;
    margin-top: 2rem;
    color: var(--third-color);
    background-color: var(--copied-color);
    transition: background-color 0.3s ease;
    width: 75%;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    transition: background-color 0.3s ease;
}
#copied-lines-list{
    margin-left: 2rem;
    list-style: none;
    margin-top: 1rem;
    width: 92.5%;
    color: var(--third-color);
    background-color:var(--list-color);
    border-right: 3px solid rgb(19, 18, 18);
    border-left: 3px solid rgb(19, 18, 18);
    border-top: 3px solid rgb(19, 18, 18);
    border-bottom: 3px solid rgb(19, 18, 18);
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    transition: background-color 0.5s ease;
}
#not-similar-lines{
    margin-left: 2rem;
    margin-top: 2rem;
    color: var(--third-color);
    background-color: var(--copied-color);
    width: 75%;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
    transition: background-color 0.3s ease;
}
#not-similar-lines-list{
    margin-left: 2rem;
    list-style: none;
    margin-top: 1rem;
    width: 92.5%;
    color: var(--third-color);
    background-color:var(--list-color);
    border-right: 3px solid rgb(19, 18, 18);
    border-left: 3px solid rgb(19, 18, 18);
    border-top: 3px solid rgb(19, 18, 18);
    border-bottom: 3px solid rgb(19, 18, 18);
    border-radius: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    transition: background-color 0.5s ease;
}
#result{
    color: var(--third-color);
    margin-left: 30rem;
    width: 25%;
    background-color: var(--result-color);
    border-radius: 0.5rem;
    text-align: center;
    padding: 1.5rem 2rem 1.5rem 2rem;
    transition: background-color 0.3s ease;
}

h2{
    width: 100%;
    font-size: larger;
    border: 3px solid rgb(58, 55, 55);
    transition: background-color 0.3s ease;
    text-align-last: center;
}

.res{
    width: 100%;
    padding-bottom: 1rem;
}
.code-editor{
    min-height: 30vh;
    color: #ccc;
}
h3{
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.editor-container {
    width: 45%;
    height: 400px;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    border: 3px solid var(--third-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    
}

#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    resize: none;
    border-radius: 0.3rem;
}
.editor-container1 {
    width: 45%;
    height: 400px;
    margin-left: 2rem;
    margin-top: 2rem;
    position: relative;
    border: 3px solid var(--third-color);
    border-radius: 0.5rem;
    transition: background-color 0.3s ease;
    float: right;
    margin-right: 2rem;
}

#editor1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    resize: none;
    border-radius: 0.3rem;
}

 @media only screen and (max-width: 425px) {


 }

/************ UPLOAD FORM OR FILES *************************/
.up{
    width: 60%;
    line-height: 75vh;
    margin-left: 28rem;
    padding-bottom: 10rem;
    margin-top: 1rem;
}
.upload {
    width: 60%;
    background:var(--study-color);
    line-height: 10vh;
    text-align-last: center;
    border-radius: 0.3rem;
    padding-bottom: 2rem;
}

.upload img{
    align-content: center;
    align-items: center;
    margin-right: 1rem;
}
.wrapper{
    line-height: 2vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    background:var(--file-back-color);
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    overflow-x: auto; 
    font-weight: 900;
    text-align: left;
    color: white;
}

#filewrapper li{
    padding-top: 1rem;
    text-align: start;
    background:var(--file-color);
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 4rem;
    margin-left: 0.3rem;
    line-height: -1vh;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0.3rem;
    width: 32vw;
    float: left;
}
.remove{
    display: none;
}
.showfilebox {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f30c0c;
    border-radius: 5px;
    margin-top: 5px;
}

.left {
    flex: 1;
    display: flex;
    align-items: center;
}

.filetype {
    margin-left: 10px;
}

.upload .logo {
    width: 100%;
    margin-bottom: 5rem;
    cursor: pointer;
    align-items: center;
}
.upload .submit{
    background: var(--navfont-color);
    border: none;
    padding: 4px 4px 4px 4px;
    font-size:medium;
    font-family:"Segoe UI";
    border-radius: 0.2rem;
    color:white;
    cursor: pointer;
    margin-left: 1rem;
   
}
#projectName{
    width: 60%;
    line-height: 4vh;
    border-radius: 0.3rem;
    border: none;
}
.hidden {
    display: none;
}

button {
    margin-left: 10rem;
    cursor: pointer;
    background-color: var(--check-color);
    color: white;
    border: none;   
    margin-bottom: 1rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.2rem;
    float: right;
}

button:hover {
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--check-hover-color);
    color: white;
    border: none;   
    margin-bottom: 1rem;
}


#successMessage {
    width: 32vw;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    line-height: 18px;
    border-radius: 0.3rem;
    margin-left: 0.8rem;
}


@media screen and (max-width: 820px) {
    .logo {
        width: 30px;
        height: 30px;
    }
}



::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px var(--scroll-border-color); 
    border-radius: 0.2rem;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-color); 
    border-radius: 0.2rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover-color); 
  }



.dropdown {
    position: relative;
    display: inline-block;
    width: 70px;
    line-height: 3vh;
    margin-left: 2rem;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 5vh;
    padding-top: 1rem;
}

.dropdown-content a {
    text-decoration: dashed;
    display: block;
    color: #f1e9e9;
}

.dropdown-content a:hover {
    background-color: #e02020;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.drop{
    width:20vh;
    background-color: #060025;
    padding: 0.5rem;
    text-align: center;
}

.type{
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    background:var(--study-color);
    width: 20%;
    text-align-last: center;
    height: 10vh;
    padding-top: 2rem;
    border-radius: 0.5rem;
}
.ty{
    padding-left: 1rem;
    color:var(--h1-color);
    font-family: "Segoe UI";
    font-size:1.2rem;
}

.Acc{
    font-family: "Segoe UI";
    font-size:1.2rem;
    font-weight:bold;
    color:black;
    text-decoration:underline;
    background:var(--type-color);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.2rem;
    transition: background-color 0.3s ease;
    }

 /* footer */
    
      
 .container{
    max-width: 2170px;
    margin:auto;
    margin-left: 8rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color:var(--secondary-color);
    padding: 70px 0;
    box-shadow: 0 0 1px var(--third-color);
    margin-top: 4.5rem;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: bold;
    position: relative;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 900;
    color: var(--third-color);
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: var(--third-color);
    padding-left: 8px;
}

.footer-col .social-links a:hover{
  background: none;
}

.footer{
  font-family: 'Mulish', sans-serif;
  text-align-last: center;
  font-weight: bold;
  font-style:normal;
  font-size: 1.5em;
  padding-right: 2rem;
}


.fab {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-decoration: none;
  padding-right: 3rem;
}

.About{
  background:var(--about-color);
  border-radius: 7px;
  padding: 6px 3px;
  font-size: 1em;
  align-items: center;
}
.footer-col a{
padding: 5px 0px 5px 0px;
}
.footer-col a:hover{
background-color: var(--list-color);
border-radius: 7px;
}

.social-links img{
width: 15%; 
}
.face{
margin-right: 2rem;
}
.insta{
margin-left: 2rem;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/**************** slide show ************************/

/* Slide section */
.slides-box{
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.slider{
width: 1134px;
height: 600px;
border-radius: 4px;
overflow:hidden;
}

.slides{
width: 500%;
height: 500px;
display: flex;

}

.slides input{
display: none;
}



.slide img{
width: 100%;
height: 500px;
}

.slide {
width: 20%;
transition: 5   s;
position: relative;
}

.text {
font-size: larger;
position: absolute;
top: 27%;
margin-left: 10rem;
width: 20%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.5);
color: white;
padding: 20px 20px 20px 20px;
opacity: 1; /* Set the opacity to 1 by default */
transition: opacity 1s;
border-radius: 0.2rem;
text-align: center;
}
.text:hover {
font-size: x-large;
position: absolute;
top: 28%;
margin-left: 12rem;
width: 25%;
transform: translate(-50%, -50%);
background: rgba(0, 0, 0, 0.5);
color: white;
padding: 20px 20px 20px 20px;
opacity: 1; /* Set the opacity to 1 by default */
transition: opacity 1s;
border-radius: 0.2rem;
text-align: center;
}
.first {
animation-name: slide;
animation-iteration-count: infinite;
animation-duration: 25s;
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

.second {
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

.third {
background-repeat: no-repeat;
background-size: cover;
background-position: top center;
}

@keyframes slide {
0%{
margin-left: 0;
}
16%{
margin-left: 0;
}
32%{
margin-left: -20%;
}
48%{
margin-left: -20%;
}
64%{
margin-left: -40%;
}
80%{
margin-left: -40%;
}
100%{
margin-left: 0;
}
}
/* Slide section */


